ul {
    list-style: none;
}

li {
    display: inline;
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

Link {
    background-color: #e91919;
}

li:hover {
    color: #ce1111;
    background-color: #fdeb82;
}

.outer {
    margin-top: 70px;
}

.inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 10px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
}

.outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.outer h2 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.form-group {
    text-align: left;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forgot-password, .forgot-password a {
    text-align: right;
    font-size: 14px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}